Flask==2.3.3
gunicorn==21.2.0
email-validator
flask-mail
flask-sqlalchemy
psycopg2-binary
sqlalchemy
werkzeug
flask-migrate
email-validator
Flask==2.3.3
flask-mail
flask-migrate
flask-sqlalchemy
gunicorn==21.2.0
psycopg2-binary
sqlalchemy
werkzeug
resend
